.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: calc(100vh - 180px);
}

.articleInfo span {
  margin-right: 10px;
}

.icon {
  margin-right: 4px;
}

.content {
  margin-top: 20px;
}
